body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (min-width: 375px) {
  main {
    width: 312px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  main {
    width: 648px;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  main {
    min-width: 648px;
    margin: auto;
  }
}
