@media (min-width: 375px) {
  main {
    width: 312px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  main {
    width: 648px;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  main {
    width: 648px;
    margin: auto;
  }
}
.head {
  background: #ff962e;
  padding: 60px;
  color: white;
  border-color: solid #ff962e;
}
.head title {
  position: absolute;
  width: 213px;
  height: 137px;
  left: 188px;
  top: 109px;

  font-family: Gibson;
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 127.34%;
  /* identical to box height, or 37px */

  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* white */

  color: #ffffff;
}
.string {
  position: absolute;
  width: 158px;
  height: 17px;
  left: 120px;
  top: 195px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 132%;
  /* or 17px */

  /* white */

  color: #ffffff;
}
.favourite_list img {
  float: left;
  padding: 0;
  margin-top: 8px;
}
.buttons img {
  height: 20px;
  width: 20px;
  filter: brightness(0) invert(1);
}

.buttons:hover img {
  opacity: 0;
}

.buttons {
  background: #ff962e;
  border: 1px solid white;
  color: white;
  padding: 18px;
  width: 160px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 10px;
}

.faveButtons:hover span span img {
  opacity: 0;
}

.faveButtons {
  background: orange;
  border: 1px solid white;
  color: white;
  position: relative;
  padding: 0px;
  height: 67px;
  width: 152px;
  left: 65px;
  top: -20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 10px;
  /* position: relative;
  width: 152px;
  height: 67px;
  left: 189px;
  top: 178px; */
}

.faveButtons:hover {
  font-size: 0;
  padding: 0px;
  background: rgba(255, 0, 0, 0.123);
  border: 1px solid transparent;
  text-align: center;
}

.faveButtons span span img {
  height: 20px;
  width: 20px;
  filter: brightness(0) invert(1);
}

.faveButtons:hover:after {
  content: 'remove';
  font-size: 12px;
  padding: 0px;
  height: 50px;
  width: 150px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}

.logo {
  position: relative;
  left: -2%;
  right: 0%;
  top: -1%;
  bottom: 0%;
}

.show-line {
  border: 1px solid #ffffff;
}

#show-column {
  background-color: #f3f3f3;
}

.favourite {
  padding-left: 22px;
  padding-top: 5px;
  color: rgb(56, 163, 250);
}

#favorite {
}
